.doctor-container {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .doctor-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .doctor-table th, .doctor-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .doctor-table th {
    background: #3f51b5;
    color: white;
  }
  
  .doctor-table tr:hover {
    background: #f4f4f4;
    transition: 0.3s;
  }
  
  .status {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .status.approved {
    color: white;
    background: #28a745;
  }
  
  .status.pending {
    color: white;
    background: #ffc107;
  }
  
  .status.rejected {
    color: white;
    background: #dc3545;
  }
  
  .approve-btn {
    background: #007bff;
    color: white;
    padding: 8px 12px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .reject-btn {
    background: #ff9800;
    color: white;
    padding: 8px 12px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .remove-btn {
    background: #ff3d00;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .approve-btn:hover {
    background: #0056b3;
  }
  
  .reject-btn:hover {
    background: #e65100;
  }
  
  .remove-btn:hover {
    background: #d32f2f;
  }
  


  .action-btns {
  display: flex;
  gap: 10px;
}

.edit-btn {
  background: #ffc107;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* Modal */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 400px;
}

.modal-box input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.save-btn {
  background: green;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
}

.cancel-btn {
  background: gray;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
}


.back-btn {
  background: #0056b3;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  left: -600px;
  top: -500px;
}

.back-btn:hover {
  opacity: 0.85;
}
