.user-container {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th, .user-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #333;
  }
  
  .user-table th {
    background: #6200ea;
    color: white;
  }
  
  .user-table tr:hover {
    background: #f4f4f4;
    transition: 0.3s;
  }
  
  .edit-btn {
    background: #007bff;
    color: white;
    padding: 8px 12px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .delete-btn {
    background: #ff3d00;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .edit-btn:hover {
    background: #0056b3;
  }
  
  .delete-btn:hover {
    background: #d32f2f;
  }
  
.back-btnn {
  background: #0056b3;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;

}

.back-btnn:hover {
  opacity: 0.85;
}
