.cart-page {
  text-align: center;
  padding: 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.cart-item img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 20px;
}

.cart-info {
  flex-grow: 1;
  text-align: left;
}

.remove-button {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.book-now {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 18px;
  background-color: rgb(36, 215, 36);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
